<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlexiWallUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FlexiWallUI.Properties.Settings>
            <setting name="UseEmulator" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDepth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxDepth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MinDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlurRadius" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MaxEmulatorDiameter" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="InterpolateDepthLayers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResolutionX" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="ResolutionY" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="DepthThreshold" serializeAs="String">
                <value>0.16</value>
            </setting>
            <setting name="CenterOffset" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="DefaultDepthColorValue" serializeAs="String">
                <value>127</value>
            </setting>
            <setting name="StateManagementStackSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StateManagementPullThreshold" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="StateManagerActionDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StateManagementPushThreshold" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="StateManagementLayerTimer" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ConfigFile" serializeAs="String">
                <value />
            </setting>
            <setting name="EmulatorCenterSize" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="InteractionDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectEllipse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectRectangle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZoomFactor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LenseSize" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="LenseMinDepth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LenseTopOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LenseLeftOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CameraTopOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CameraLeftOffset" serializeAs="String">
                <value>0</value>
            </setting>
        </FlexiWallUI.Properties.Settings>
    </userSettings>
</configuration>